/* Grundinställningar */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('image3.png') center / cover no-repeat fixed;
}

/* Variabler */
:root {
    --blur-value: 10px;
}

/* Bakgrundsbehållare */
.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 5px;
}

/* Huvudmeny */
.menu {
    display: flex;
    gap: 20px;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.1);
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
    border-radius: 10px;
    z-index: 20; 
    backdrop-filter: blur(var(--blur-value));
    -webkit-backdrop-filter: blur(var(--blur-value));
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 30; 
}

.dropdown-label {
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: none;
    box-shadow: none;
    color: black;
}

.dropdown-label:hover {
    background-color: #f0f0f0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 30;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

/* Innehållsboxar */
.content {
    display: flex;
    gap: 20px;
}

.box {
    position: relative;    
    width: 250px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1;
    backdrop-filter: blur(var(--blur-value));
    -webkit-backdrop-filter: blur(var(--blur-value));
}

/* Knappgrupper */
.btn-group {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.answer-btn, .nav-btn {
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer-btn:hover, .nav-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Video */
.viking-video {
    width: 100%;
    height: calc(100% - 40px);
    display: block;
    margin: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* Övriga stilar */
.answer-list {
    list-style-type: none;
    padding: 0;
}
